extends _layout.pug

block vars
  - var pageId = 'launch-videos'
block meta
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(name='msapplication-tap-highlight' content='no')
  meta(property="fb:app_id" content="499421243843386")
  meta(property="og:image" content="https://neuromethod.halcyon.bio/img/fb-share-preview.jpg")

block content
  video-form(form-id='58uB0ZNvfk37RE').l-header
    .container
      .row
        .col-12.title
          .title-top-container
            .title-top.flex-center
              img.logoHB(src='/img/neuromethod360-logo.png')
              a.btn.btn-share.btn-share1.vrlps-trigger(type='button' target="_blank"
              href="#") MEET RONNIE
              button.btn.btn-trailer(type='button' onclick='{ trailerToggle }')  TRAILER <i class="fab fa-lg fa-youtube"></i>

    .container-fluid.l-vid
      .row.flex-center
        .col-12.flex-center.header-img.lightbox-target#neuromethodtrailer

          .trailer-container
            .trailer-view
              <iframe src="https://www.youtube.com/embed/71fptRWCwuQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <a class="lightbox-close lightbox-close-trailer" style="color: gray !important;" href="#"></a>
          .vid-container
            a(href='#neuromethodtrailer')
              img.mobile(src="/img/header-ron-mobile-yt.jpg")
            a(href='#neuromethodtrailer')
              img.desktop(src="/img/header-ron-desktop-yt.jpg")
            .name Ron White
            .subtitle 2 time USA Memory Champion

            .subtitle2#optincta
              |Teaches
              |
              | Brain Performance

    .main-optin
            // (if='{ !submitted }') added to hide if it has been submitted
            .row.flex-center#thank-you.lightbox-target3.no-gutters
              .col-12.cta(if='{ !submitted }')
                h4 Get access to the free masterclass video series taught by one of the world’s greatest minds.
                p.cta-p Enter your email below now to save your spot - space is limited.


              .col-12.opt-in-fields-main.flex-center(if='{ !submitted }')


                text.input(bind='email' id='opt-in-email' placeholder='enter your email')
                  yield(to='123')
                    input(name="email" type="text" autocomplete="on" placeholder="enter your email")
                button.btn.btn-opt-in.new(type='button' id="email-submit" onclick='{ submit }') WATCH FREE <i class="fab fa-lg fa-youtube"></i>
              .thank-you(if='{ submitted }')
                h4.clg You're all set for the masterclass, we'll let you know as each episode is available.
                h4.h4line2 Help spread the word and get entered to win a free 1-on-1 training session with Ronnie - click below.
                button.btn.btn-opt-in.new.vrlps-trigger(type='button' id="email-submit" onclick='#') MEET RONNIE
              p.disclaimer.disclaimer-main(if='{ !submitted }')
                | We will notify you when each masterclass episode is released.
                br
                | Providing your email gives you unlimited free access to all 4 masterclass episodes.


    .container.thumb
      .row
        .col-12.header-img#episode-one.video-one-target.episodes
          h2.text-center MASTERCLASS EPISODE 1: INTERMITTENT FASTING AND THE BRAIN
          .masterclass-container.tc2
            .masterclass-view
              <iframe src="https://www.youtube.com/embed/R9DZF2IXGXk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      .row
        .col-12.header-img#episode-two.video-one-target.episodes
          h2.text-center MASTERCLASS EPISODE 2: MENTAL STRATEGIES
          .masterclass-container.tc2
            .masterclass-view
              <iframe src="https://www.youtube.com/embed/R9DZF2IXGXk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>VMJZfLZWcIY
      .row.flex-center
        .col-6.col-md-3.col-thumb
          a.ep1-link(href='#optincta' onclick='{ showVideo(1, true) }')

            h6.vid-desc-wrapper.vid-coming-soon(style='color: #dedede;') WATCH NOW
            p 1
            img(src="/img/vid-1-thumb-live.jpg")
        .col-6.col-md-3.col-thumb
          a.ep2-link-wait(href='#optincta')
            h6.vid-desc-wrapper.vid-coming-soon COMING SOON
            p 2
            img(src="/img/vid-2-thumb.jpg")
        .col-6.col-md-3.col-thumb
          a.ep3-link-wait(href='#optincta')
            h6.vid-desc-wrapper.vid-coming-soon COMING SOON
            p 3
            img(src="/img/vid-3-thumb.jpg")
        .col-6.col-md-3.col-thumb
          a.ep4-link(href='#optincta')
            h6.vid-desc-wrapper.vid-coming-soon COMING SOON
            p 4
            img(src="/img/vid-4-thumb.jpg")

      .row
        .col-12.col-md-8.offset-md-2.title
          h2 UPCOMING EPISODES
          p
            |Free online masterclass taught by one of the
            |world’s greatest minds. Ron White is a 2X USA Memory
            |Champion. He teaches how to get the most from
            |your mind with his best lifestyle hacks, mental
            | strategies, and supplements for peak brain health and performance.

      .title
        h2 AS SEEN ON
      .row.ron-media.flex-center
        .col-6.col-md-3.col-lg-1.flex-center
          img(src='/img/dr-oz-logo.png')
        .col-6.col-md-3.col-lg-1.flex-center
          img(src='/img/fox-news.png')
        .col-6.col-md-3.col-lg-1.flex-center
          img(src='/img/good-morning-america.png')
        .col-6.col-md-3.col-lg-1.flex-center
          img(src='/img/Martha-Stewart.png')
        .col-6.col-md-3.col-lg-1.flex-center
          img(src='/img/nbc-logo.png')
        .col-6.col-md-3.col-lg-1.flex-center
          img(src='/img/time.png')
        .col-12.col-md-3.col-lg-1.flex-center
          img(src='/img/wsj.png')
      #fb
  // .flex-container.l-body-transition
    .row
      .col-12
        p
  .flex-container.l-body.flex-center
    .row
      .col-12
        h3  Hit the <span class="fblike"> "Like"</span> button and comment below
        h3.loading <i class="fa fa-spinner fa-spin fa-fw"></i> Loading...
        img.arrow(src="img/new-arrow.png" width="70px")
        <div class="fb-like-frame"><div class="fb-like" data-colorscheme="dark" data-href="https://www.facebook.com/HalcyonBiotech/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></div>
        <div class="hm"></div>
        <div class="fb-comments fb-new" data-colorscheme="dark" data-href="https://neuromethod.halcyon.bio" data-width="100%" data-numposts="50"></div>
        // <div class="hm2"></div>
        // <div class="fb-comments fb-old" data-order-by="reverse_time" data-colorscheme="dark" data-href="https://halcyon.bio/master-class-videos" data-width="100%" data-numposts="50"></div>

  .flex-container.l-body2
    .row
      .col-md-7.col-12.l-body2-ron
        img(src='/img/ron-white-dark.jpg')
      .col-md-4.col-12.vid-title.text-center

        .row

          .col-md-8.offset-md-2.col-12.flex-center.vid-desc-trailer
            a(href='#neuromethodtrailer')
              h5.vid-desc-wrapper-trailer Trailer

              img(src="/img/trailer-thumb.jpg")
        .row
          h3 UPCOMING EPISODES
          .col-md-6.col-12.vid-desc.flex-center
            a.ep1-link(href='#optincta' onclick='{ showVideo(1, true) }')
              h6.vid-desc-wrapper.vid-coming-soon(style='color: #dedede;') WATCH NOW
              h6.vid-desc-wrapper Lifestyle Hacks

              img(src="/img/vid-1-thumb-live.jpg")
          .col-md-6.col-12.vid-desc.flex-center
            a(href='#optincta')
              img(src="/img/vid-2-thumb.jpg")
              h6.vid-desc-wrapper Mental Strategies
              h6.vid-desc-wrapper.vid-coming-soon Coming Soon
        .row.4videos
          .col-md-6.col-12.vid-desc.flex-center
            a(href='#optincta')
              img(src="/img/vid-3-thumb.jpg")
              h6.vid-desc-wrapper Nootropics
              h6.vid-desc-wrapper.vid-coming-soon Coming Soon
          .col-md-6.col-12.vid-desc.flex-center
            a(href='#optincta')
              img(src="/img/vid-4-thumb.jpg")
              h6.vid-desc-wrapper.putting putting it all together
              h6.vid-desc-wrapper.vid-coming-soon Coming Soon

      .col-md-1

  video-form.lightbox-target2#neuromethodtrailer.overlay-opt-in(if='{ !submitted }')
        .opt-in
          // h4 Enter your email address to watch the trailer
          .row.flex-center
            .col-12.opt-in-fields.flex-center

              .btn-share2-container
                .btn.btn-share.btn-share2(type='button' onload="document.video-form.email.focus()" target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/HalcyonBiotech/videos/570885656642848/") <i class="fab fa-facebook-square"></i> Share

            .col-12.opt-in-fields.flex-center
              text.input(bind='email' id='opt-in-email' placeholder='Enter Your Email')
                yield(to='123')
                  input(name="email" type="text" autocomplete="on" placeholder="Enter Your Email")
              button.btn.btn-opt-in(type='button' id="email-submit" onclick='{ submit }') <i class="fab fa-lg fa-youtube"></i>

            p.disclaimer We will notify you when each masterclass episode is released. Providing your email gives you unlimited free access to all 4 masterclass episodes.
            <a class="lightbox-close lightbox-close1" style="color: gray !important;" href="#fb"></a>


  .lsfooter
    .row
      .text-center.footer-follow-us.col-md-6.col-xs-12
        span
          h3 Follow Us
        .row.social-icons-row
          a.sf(href="https://www.facebook.com/Neuromethod-260326294365454/?fref=ts")
            svg(width="30px" height="30px" viewbox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg")
              g#Subscribe-1(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
                g#Delight-Subscribe-970(sketch:type="MSArtboardGroup" transform="translate(-930.000000, -1113.000000)" fill="#D7BEE5")
                  g#Desktop-HD-Footer(sketch:type="MSLayerGroup" transform="translate(215.000000, 1078.000000)")
                    g#Icons(transform="translate(715.000000, 35.000000)" sketch:type="MSShapeGroup")
                      g#Facebook
                        path#Fill-1(d="M15.09,29.4557143 C23.1411429,29.4557143 29.6682857,22.9294286 29.6682857,14.8774286 C29.6682857,6.82714286 23.1411429,0.3 15.09,0.3 C7.03885714,0.3 0.511714286,6.82714286 0.511714286,14.8774286 C0.511714286,22.9294286 7.03885714,29.4557143 15.09,29.4557143 Z M11.5731429,12.4088571 L13.08,12.4088571 L13.08,10.9448571 C13.08,10.2985714 13.0962857,9.30257143 13.566,8.68542857 C14.0597143,8.03228571 14.7385714,7.58828571 15.9051429,7.58828571 C17.8062857,7.58828571 18.6077143,7.85914286 18.6077143,7.85914286 L18.2305714,10.092 C18.2305714,10.092 17.6022857,9.91114286 17.0168571,9.91114286 C16.4305714,9.91114286 15.9051429,10.1211429 15.9051429,10.7065714 L15.9051429,12.4088571 L18.3085714,12.4088571 L18.1414286,14.5902857 L15.9051429,14.5902857 L15.9051429,22.1665714 L13.08,22.1665714 L13.08,14.5902857 L11.5731429,14.5902857 L11.5731429,12.4088571 Z")
          a.sf(href="https://twitter.com/halcyon_biotech")
            svg(width="30px" height="30px" viewbox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg")
              g#Subscribe-1(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
                g#Delight-Subscribe-970(sketch:type="MSArtboardGroup" transform="translate(-970.000000, -1113.000000)" fill="#D7BEE5")
                  g#Desktop-HD-Footer(sketch:type="MSLayerGroup" transform="translate(215.000000, 1078.000000)")
                    g#Icons(transform="translate(715.000000, 35.000000)" sketch:type="MSShapeGroup")
                      g#Twitter(transform="translate(40.000000, 0.000000)")
                        path#Fill-1(d="M15.0488571,29.4557143 C23.1,29.4557143 29.6271429,22.9294286 29.6271429,14.8774286 C29.6271429,6.82714286 23.1,0.3 15.0488571,0.3 C6.99771429,0.3 0.470571429,6.82714286 0.470571429,14.8774286 C0.470571429,22.9294286 6.99771429,29.4557143 15.0488571,29.4557143 Z M22.3628571,11.0588571 C21.8254286,11.2971429 21.2477143,11.4582857 20.6425714,11.5302857 C21.2614286,11.16 21.7362857,10.5728571 21.9591429,9.87342857 C21.3797143,10.2162857 20.7394286,10.4657143 20.0562857,10.5994286 C19.5111429,10.0174286 18.7311429,9.654 17.8697143,9.654 C16.2162857,9.654 14.874,10.9954286 14.874,12.6497143 C14.874,12.8845714 14.8997143,13.1125714 14.9511429,13.332 C12.462,13.2068571 10.2548571,12.0154286 8.77628571,10.2008571 C8.51828571,10.6448571 8.37085714,11.16 8.37085714,11.7085714 C8.37085714,12.7474286 8.89971429,13.6645714 9.70371429,14.202 C9.21257143,14.1874286 8.74971429,14.0511429 8.346,13.8282857 L8.346,13.8651429 C8.346,15.3171429 9.378,16.5282857 10.7494286,16.8025714 C10.4982857,16.8728571 10.2334286,16.908 9.96,16.908 C9.76714286,16.908 9.57857143,16.89 9.39685714,16.8548571 C9.77742857,18.0445714 10.884,18.912 12.1945714,18.9342857 C11.1694286,19.7382857 9.87771429,20.2174286 8.47457143,20.2174286 C8.232,20.2174286 7.99371429,20.2037143 7.75971429,20.1762857 C9.08571429,21.0248571 10.6602857,21.5211429 12.3522857,21.5211429 C17.8637143,21.5211429 20.8757143,16.9568571 20.8757143,12.9977143 C20.8757143,12.8674286 20.8731429,12.7371429 20.868,12.6094286 C21.4534286,12.1868571 21.9625714,11.6597143 22.3628571,11.0588571 Z")
          a.sf(href="https://www.instagram.com/halcyon_biotech/")
            svg(width="30px" height="30px" viewbox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg")
              g#Subscribe-1(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
                g#Delight-Subscribe-970(sketch:type="MSArtboardGroup" transform="translate(-1050.000000, -1113.000000)" fill="#D7BEE5")
                  g#Desktop-HD-Footer(sketch:type="MSLayerGroup" transform="translate(215.000000, 1078.000000)")
                    g#Icons(transform="translate(715.000000, 35.000000)" sketch:type="MSShapeGroup")
                      g#Instagram(transform="translate(120.000000, 0.000000)")
                        path#Fill-1(d="M15.2305714,29.4762857 C23.2825714,29.4762857 29.8088571,22.9482857 29.8088571,14.8971429 C29.8088571,6.84685714 23.2825714,0.319714286 15.2305714,0.319714286 C7.17857143,0.319714286 0.653142857,6.84685714 0.653142857,14.8971429 C0.653142857,22.9482857 7.17857143,29.4762857 15.2305714,29.4762857 Z M19.704,7.60885714 L10.7614286,7.60885714 C9.20742857,7.60885714 7.944,8.87228571 7.944,10.4262857 L7.944,19.3697143 C7.944,20.9237143 9.20742857,22.1871429 10.7614286,22.1871429 L19.704,22.1871429 C21.258,22.1871429 22.5214286,20.9237143 22.5214286,19.3697143 L22.5214286,10.4262857 C22.5214286,8.87228571 21.258,7.60885714 19.704,7.60885714 Z M20.5131429,9.28885714 L20.8354286,9.288 L20.8354286,11.7591429 L18.372,11.7668571 L18.3634286,9.29571429 L20.5131429,9.28885714 L20.5131429,9.28885714 Z M13.1528571,13.4014286 C13.6191429,12.7551429 14.3768571,12.3317143 15.2322857,12.3317143 C16.0894286,12.3317143 16.8462857,12.7551429 17.3125714,13.4014286 C17.6177143,13.8231429 17.7994286,14.3391429 17.7994286,14.898 C17.7994286,16.3122857 16.6474286,17.4634286 15.2322857,17.4634286 C13.818,17.4634286 12.6668571,16.3122857 12.6668571,14.898 C12.6668571,14.3391429 12.8485714,13.8231429 13.1528571,13.4014286 L13.1528571,13.4014286 Z M21.1011429,19.3697143 C21.1011429,20.1402857 20.4754286,20.766 19.704,20.766 L10.7614286,20.766 C9.99,20.766 9.36428571,20.1402857 9.36428571,19.3697143 L9.36428571,13.4014286 L11.5405714,13.4014286 C11.352,13.8642857 11.2465714,14.3691429 11.2465714,14.898 C11.2465714,17.0957143 13.0345714,18.8845714 15.2322857,18.8845714 C17.4308571,18.8845714 19.2188571,17.0957143 19.2188571,14.898 C19.2188571,14.3691429 19.1125714,13.8642857 18.9248571,13.4014286 L21.1011429,13.4014286 L21.1011429,19.3697143 L21.1011429,19.3697143 Z")
          a.sf(href="https://www.youtube.com/channel/UCzQtiBOionWLSd50NRenyOw")
            svg(width="30px" height="30px" viewbox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg")
              g#Subscribe-1(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
                g#Delight-Subscribe-970(sketch:type="MSArtboardGroup" transform="translate(-1130.000000, -1113.000000)" fill="#D7BEE5")
                  g#Desktop-HD-Footer(sketch:type="MSLayerGroup" transform="translate(215.000000, 1078.000000)")
                    g#Icons(transform="translate(715.000000, 35.000000)" sketch:type="MSShapeGroup")
                      g#Youtube(transform="translate(200.000000, 0.000000)")
                        path#Fill-1(d="M15.1302857,29.4557143 C23.1822857,29.4557143 29.7094286,22.9285714 29.7094286,14.8774286 C29.7094286,6.82628571 23.1822857,0.3 15.1302857,0.3 C7.07914286,0.3 0.552857143,6.82628571 0.552857143,14.8774286 C0.552857143,22.9285714 7.07914286,29.4557143 15.1302857,29.4557143 Z M17.9614286,14.8851429 L13.188,17.688 L13.188,12.0814286 L17.9614286,14.8851429 Z M22.4202857,17.484 L22.4202857,12.2717143 C22.4202857,12.2717143 22.4202857,9.75942857 19.9071429,9.75942857 L10.3534286,9.75942857 C10.3534286,9.75942857 7.842,9.75942857 7.842,12.2717143 L7.842,17.484 C7.842,17.484 7.842,19.9962857 10.3534286,19.9962857 L19.9071429,19.9962857 C19.9071429,19.9962857 22.4202857,19.9962857 22.4202857,17.484 L22.4202857,17.484 Z")
      .text-center.footer-contact-us.col-md-6.col-xs-12
        span
          h3 Contact Us
          p
            a(href="mailto:support@halcyon.bio") support@halcyon.bio
          p
            br
          p
            br
    p
    | ©2018 Halcyon Biotechnologies
    br
    |  #[a(href='/privacy-policy' target='blank') Privacy Policy ] |  #[a(href='/privacy-policy#terms-of-service' target='blank') Terms of Service]

  div#mousetracker
    script.
      window._mfq = window._mfq || [];
      (function() {
      var mf = document.createElement("script");
      mf.type = "text/javascript"; mf.async = true;
      mf.src = "//cdn.mouseflow.com/projects/083f1b02-ccd7-4510-8625-e3dfd2fbaf6d.js";
      document.getElementsByTagName("head")[0].appendChild(mf);
      })();

  div#fb-root
   script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=499421243843386&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs); }
    (document, 'script', 'facebook-jssdk'));

  div#viral-loops
    script.
      !function(a,b,c,d,t){var e,f=a.getElementsByTagName("head")[0];if(!a.getElementById(c)){if(e=a.createElement(b),e.id=c,e.setAttribute("data-vrlps-ucid",d),e.setAttribute("data-vrlps-version","2"), e.setAttribute("data-vrlps-template", t),e.src="https://app.viral-loops.com/popup_assets/js/vl_load_v2.min.js",window.ub){jQuery=null,$=null;var g=a.createElement(b);g.src="https://code.jquery.com/jquery-2.2.4.min.js",f.appendChild(g)}f.appendChild(e);var h=a.createElement("link");h.rel="stylesheet",h.type="text/css",h.href="https://app.viral-loops.com/static/vl-loader.css",f.appendChild(h);var i=a.createElement("div");i.id="vl-overlay",i.style.display="none";var j=a.createElement("div");j.id="vl-loader",i.appendChild(j),a.addEventListener("DOMContentLoaded",function(b){a.body.appendChild(i);for(var c=a.getElementsByClassName("vrlps-trigger"),d=0;d<c.length;d++)c[d].removeAttribute("href"),c[d].onclick=function(){a.getElementById("vl-overlay").style.display="block"};var e=a.querySelectorAll("[data-vl-widget='popupTrigger']");[].forEach.call(e,function(b){var c=a.createElement("div");c.className="vl-embedded-cta-loader",b.appendChild(c)})})}}(document,"script","vrlps-js","_FUZaZo3McnD1eiLnYdZwty6qJ0","sweepstake");

  .scrolling-show(if='{ !submitted }')
    video-form.main-optin.popover-optin

            .row.flex-center#thank-you.lightbox-target3
              .col-12.cta(if='{ !submitted }')
                h4 Get access to the masterclass video series taught by one of the world’s greatest minds.
                p.cta-p Enter your email below now to save your spot - space is limited.


              .col-12.opt-in-fields-main.flex-center(if='{ !submitted }')


                text.input(bind='email' id='opt-in-email' placeholder='enter your email')
                  yield(to='123')
                    input(name="email" type="text" autocomplete="on" placeholder="enter your email")
                button.btn.btn-opt-in.new(type='button' id="email-submit" onclick='{ submit }') WATCH FREE <i class="fab fa-lg fa-youtube"></i>
              .thank-you(if='{ submitted }')
                h5 You're all set for the masterclass, the first video is coming to you soon.
                h3 Help spread the word and get entered to win a free 1-on-1 training session with Ronnie - click below.
                button.btn.btn-opt-in.new.vrlps-trigger(type='button' id="email-submit" onclick='#') MEET RONNIE
              p.disclaimer.disclaimer-main(if='{ !submitted }')
                | We will notify you when each masterclass episode is released.
                br
                | Providing your email gives you unlimited free access to all 4 masterclass episodes.
              <a class="lightbox-close lightbox-close1 close-scrolling-show" style="color: gray !important;" href="#"></a>

block header
block footer
